@font-face {
    font-family: 'Acrom';
    src: url('../fonts/Acrom-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Acrom-Regular.otf')  format('opentype'),
        url('../fonts/Acrom-Regular.woff') format('woff'), url('../fonts/Acrom-Regular.ttf')  format('truetype'), url('../fonts/Acrom-Regular.svg#Acrom-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
	  font-family: 'Acrom';
	  src: url('../fonts/Acrom-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Acrom-Medium.otf')  format('opentype'),
		     url('../fonts/Acrom-Medium.woff') format('woff'), url('../fonts/Acrom-Medium.ttf')  format('truetype'), 
		     url('../fonts/Acrom-Medium.svg#Acrom-Medium') format('svg');
	  font-weight: 500;
	  font-style: normal;
}

@font-face {
    font-family: 'Acrom';
    src: url('../fonts/Acrom-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Acrom-Bold.otf')  format('opentype'),
        url('../fonts/Acrom-Bold.woff') format('woff'), url('../fonts/Acrom-Bold.ttf')  format('truetype'), 
        url('../fonts/Acrom-Bold.svg#Acrom-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Acrom';
    src: url('../fonts/Acrom-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Acrom-ExtraBold.otf')  format('opentype'),
        url('../fonts/Acrom-ExtraBold.woff') format('woff'), url('../fonts/Acrom-ExtraBold.ttf')  format('truetype'), url('../fonts/Acrom-ExtraBold.svg#Acrom-ExtraBold') format('svg');
    font-weight: 900;
    font-style: normal;
} 

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Regular.otf')  format('opentype'),
         url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf')  format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
} 

body{
    margin:0;
	padding: 0;
	font-family: "ProximaNova", sans-serif;
	font-size: 20px;
    font-weight: 400;
	line-height:1.35; 
	min-width: 360px;
}

button,input,select,textarea{
    font-family: "ProximaNova"; 
    font-size: 17px;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

.wrapper {
    max-width:1200px;
    padding:0 40px;
    margin:0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex_between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button {
    display:inline-block;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
    text-align: center;
}

.button_framed_white {
    border: 2px solid #fff;
    font: 700 13px "Acrom";
    color: #fff;
    text-transform: uppercase;
    padding: 15px 30px;
	transition: color 0.2s linear;
    letter-spacing: 0.04em; 
}

.button_framed_white:hover {
	color: #b7b7b7;
}

.button_pink {
    border: 1px solid rgb(232, 162, 182);
    border-radius: 2px;
    background: rgb(255,150,180);
    background-image: linear-gradient( 0deg, rgb(255,150,180) 0%, #ffe7ee 100%);
    box-shadow: 0 4px 3px 0 rgba(0,0,0,.1), inset #ffffff 0 0 0px 1px;
	width:100%;
    max-width: 358px;
    padding: 20px 15px;  	
}  

.button__text1 {
    font: 700 18px "Acrom";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
}

.button__text2 {
    font-size: 13px;
    font-family: Acrom;
    color: #000;
    text-align: center;
    letter-spacing: 0;
    margin-top: 2px;
}

.inner-page{
	margin: 50px 0 100px; 
    text-align: center;
}


.caption {
    font: 700 36px "Acrom";
    margin-bottom: 20px;
}

.caption-h2{
    font: 700 30px "Acrom";
    margin-bottom: 20px;
}

.underlined {
    text-transform: uppercase;
    position: relative;
    background-image: linear-gradient( 0deg, rgb(255, 186, 205) 0%, rgb(255, 186, 205) 35%, rgb(255, 255, 255) 35%, rgb(255, 255, 255) 100% );
}


@media screen and (max-width: 639px) {
	
	.caption{
		font-size: 30px;
	}
	
}
