/*header*/

header {
    background-color: rgb(0, 0, 0);
    padding: 0 50px;
    min-width: 360px;
}

.menu {
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    list-style: none;
    float: left;
    position: relative;
}

.menu a {
    display: inline-block;   
    font-size: 13px;
    font-family: "Acrom";
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    padding: 25px 15px;
}

.menu>li:first-child a {
    padding: 25px 15px 25px 0;
}

.header__button {
    margin: auto 0;
}

