.stock{
	
}

.stock__item{
	
}

.stock__preview{
    width: 400px;
    margin: 0 auto 30px;
    font-size: 0;
    line-height: 0;
    position: relative;
}

.stock__preview:before{
	content: '';
    position: absolute;
    top: 15px;
    left: -15px;
    right: -15px;
    border: 4px solid #000;
    height: 100%;
    box-sizing: border-box;
	
}

.stock__preview img{
	max-width: 100%;
	height: auto;
    position: relative;
}

.stock__caption{
	
}

.stock__desc{
	
}

.stock__button{
	
}