.stock{
	
}

.stock__item{
    margin-top: 90px;
}

.stock__item:first-child{
	margin-top:0;
}

.stock__preview{
    width: 400px;
    margin: 0 auto 30px; 
} 

.stock__button{
	margin-top: 20px;
}


@media screen and (max-width: 767px) {
	
	.stock__preview{
		width: 300px;
	} 

}