
.price-table{
	max-width: 800px;
    margin: 0 auto;
}

.price-table__caption{
    background: #000000;
    padding: 10px 15px;
    font-size: 24px;
    color: #fff;
    margin-top: 40px;
}

.price-table__caption:first-child{
	margin:0;
}

.price-table__caption-small{
    padding: 20px 15px;
	font-size: 20px;
}

.price-table__th{
    display: flex;
    justify-content: flex-end;
    margin-top: -30px;
}

.price-table__th-td{
	min-width: 100px;
	font-size:12px;
	padding: 7px 0;
}

.price-table__th-td_special{
    background: #00ab1d;
    color: #fff;
    text-transform: uppercase;
}

.price-table__line{
	display: flex;
    margin-bottom: 7px;
    padding: 10px 0;
    background: whitesmoke;
}

.price-table__line:hover{
	background: #e5e5e5;
}

.price-table__name{
	flex: 1;
    text-align: left;
    font-size: 17px;
    padding: 0 15px;
    margin: auto;
}

.price-table__time{
	min-width: 100px;
	line-height: 30px;
}

.price-table__price{
    min-width: 100px;
    font-weight: bold;
    border-left: 1px solid #bebebe;
	line-height: 30px;
}

.price-table__price span{
	display: inline-block;
    background: url(../../images/sprites.svg?1) no-repeat -4px -55px;
    background-size: 600px 600px;
    width: 15px;
    height: 22px;
    position: relative;
    top: 4px;
    margin-left: 3px;
}

.price-table__price_special{
	color:#00ab1d;
}

.price-table__price_special span{
	background-position: -4px -84px;
}

.price-table__button{
	margin-top: 30px;
}



@media screen and (max-width: 639px) {
	
	.price-table__name{
		font-size:14px;		
	}
	
	.price-table__time,
	.price-table__price{
		min-width: 60px;
		font-size: 14px;
	}
	
	.price-table__price span{ 
		background: url(../../images/sprites.svg?1) no-repeat -4px -42px;
		background-size: 450px 450px;
		width: 11px;
		height: 16px; 
	}
	
	.price-table__price_special span{
		background-position: -4px -63px;
	}
	
	.price-table__th { 
		margin-top: -20px;
	}
	
	.price-table__th-td {
		min-width: 60px; 
		padding: 2px 0;
	}
	
	.price-table__th-td_special{
		background: none;
		color: #00ab1d;
		text-transform: none;
	}
	
}



