<div class="flipster">
    <ul class="flip-items flipster__container">
        <li class="flipster__item">
            <div class="flipster__content">
                <img src="/images/insta-msg-1.svg"/>
            </div>
        </li>
        <li class="flipster__item">
            <div class="flipster__content">
                <img src="/images/insta-msg-1.svg"/>
            </div>
        </li>
        <li class="flipster__item">
            <div class="flipster__content">
                <img src="/images/insta-msg-1.svg"/>
            </div>
        </li>
        <li class="flipster__item">
            <div class="flipster__content">
                <img src="/images/insta-msg-1.svg"/>
            </div>
        </li>
        <li class="flipster__item">
            <div class="flipster__content">
                <img src="/images/insta-msg-1.svg"/>
            </div>
        </li>
    </ul>
</div>