<footer>
    <div class="footer1">
        <div class="wrapper flex">
            <nav class="navbar">
                <ul class="menu">
                    <li>
                        <a href="#">Главная</a>
                    </li>
                    <li>
                        <a href="#">Услуги и цены</a>
                    </li>
                    <li>
                        <a href="#">Акции</a>
                    </li>
                    <li>
                       <a href="#">Вопросы и ответы</a>
                    </li>
                    <li>
                       <a href="#">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="footer2">
        <div class="wrapper">
            <div class="copyright">&copy; Relaxlaser 2018 Разработка сайта <a href="https//weblamas.com">WebLamas</a></div>   
        </div>
    </div>
</footer>