<header class="flex_between">    
    <nav class="navbar">
        <ul class="menu">
            <li>
                <a href="#">Главная</a>
            </li>
            <li>
               <a href="#">О салоне</a>
            </li>
            <li>
                <a href="#">Услуги и цены</a>
            </li>
            <li>
                <a href="#">Акции</a>
            </li>
            <li>
               <a href="#">Вопросы и ответы</a>
            </li>
        </ul>
    </nav>
    <div class="burger">
        <span></span>
    </div>
    <a href="#" class="button button_framed_white header__button">Онлайн запись</a>
</header>