<div class="photo-info">
    <div class="wrapper flex">
        <div class="photo-info__photo shake-slow shake-constant shake-constant--hover"></div>
        <div class="photo-info__information">
            <h2 class="photo-info__caption">Топовый аппарат <span class="underlined">DF-LASER</span></h2>
            <div class="photo-info__item flex">
                <div class="photo-info__number">1/</div>
                <div class="photo-info__text">Видимый результат уже после первого посещения эпиляционного кабинета</div>
            </div>
            <div class="photo-info__item flex">
                <div class="photo-info__number">2/</div>
                <div class="photo-info__text">Одновременно удаляются волосы разной толщины (и грубые темные, и мягкие пушковые)</div>
            </div>
            <div class="photo-info__item flex">
                <div class="photo-info__number">3/</div>
                <div class="photo-info__text">Контактное охлаждение предотвращает болевые ощущения даже на нежных участках</div>
            </div>
            <div class="photo-info__item flex">
                <div class="photo-info__number">4/</div>
                <div class="photo-info__text">Лазер воздействует исключительно на волос, не повреждая соседние ткани</div>
            </div>
            <div class="photo-info__item flex">
                <div class="photo-info__number">5/</div>
                <div class="photo-info__text">Подходит для любого типа кожи: от нордического светлово до средиземноморского темно-оливкового</div>
            </div>
            <div class="photo-info__item flex">
                <div class="photo-info__number">6/</div>
                <div class="photo-info__text">Полное удаление нежелательных волос всего за 3-6 сеансов!</div>
            </div>
        </div>
    </div>
</div>