@import "parts/jquery.fancybox.min.css";
@import "parts/base-blocks.less";
@import "parts/header.less";
@import "parts/photo-info.less";
@import "parts/flipster.less";
@import "parts/css-shake.css";

.main-screen {
    background: url(../images/mainscreen-bg.jpg) repeat center;
    background-size: cover;
    position: relative;
    height: 620px;
}

.main-screen__overflow {
    overflow: hidden;
    width: 100%;
    height: 700px;
    padding-top: 170px;
    position: absolute;
    top: 0;
}

.logo {
    position: relative;
    box-sizing: border-box; 
    margin: 0 auto;
    width: 950px;
}

.logo__bordered {
    box-sizing: border-box;
    border: 10px solid #000;
    width: 62%;
    height: 290px;
    float: right;
    background: url(../images/logo-part-2.svg) no-repeat center; 
}

.logo__laser {
    font: 900 110px "Raleway";
    line-height: 1.1;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-align: right;
}

.logo__city {
    font: 500 32px "Raleway";
    text-transform: uppercase;
    letter-spacing: 12px;
    text-align: right;
}

.logo__girl {
    background: url(../images/girl-mainscreen.png) no-repeat center;
    width: 696px;
    height: 630px;
    position: absolute;
    left: 0;
    top: -163px; 
    box-sizing: border-box;
}

.logo__relax {
    width: 450px;
    height: 260px;
    background: url(../images/logo-part-1.svg) no-repeat center;
    position: absolute;
    top: 145px;
}

.logo__girl-top {
    background: url(../images/girl-mainscreen-top.png) no-repeat top;
    width: 292px;
    height: 507px;
    position: absolute;
    left: 144px;
    bottom: 216px;
    z-index: 1;
}

.leaf {
    background: url(../images/leaf-mainscreen.png) no-repeat center;
    width: 601px;
    height: 865px;
    position: absolute;    
}

.leaf_left {
    left: -733px;
    bottom: 15px;
    transform: rotate(116deg);
}

.leaf_right {
    right: -776px;
    bottom: 42px;
    transform: rotate(235deg);
}

.logo-small{
	display:block;
    width: 280px;
    height: 90px;
	background: url(../images/logo.svg) no-repeat center;
	background-size: contain;
	margin: auto
}

.logo-small__home{
	display: none;
}

/**/

.info-block {
    padding: 70px 0 80px;
}

.info-block__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption {
    font: 700 36px "Acrom";
    margin-bottom: 20px;
}

.underlined {
    text-transform: uppercase;
    position: relative;
    background-image: linear-gradient( 0deg, rgb(255, 186, 205) 0%, rgb(255, 186, 205) 35%, rgb(255, 255, 255) 35%, rgb(255, 255, 255) 100% );
}

.info-block__caption,
.info-block__description { 
    text-align: center;
}

.icon-stripes_home {
    margin: 20px auto 25px;
}

.icon-stripes {
    position: relative;
    width: 235px;
}

.icon-stripes__icon {
    display: block;
    background: url(../images/sprites.svg) no-repeat 16px -8px #fff;
    width: 111px;
    height: 68px;
    margin: 0 auto;
    position: relative;
}

.icon-stripes__stripes {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 3px;
    position: absolute;
    top: 30px;
}

.services {
    background: url(../images/black-leaves-bg.jpg) no-repeat center;
    background-size: cover;
    padding: 90px 0 80px;
    overflow: hidden;
}

.services__inner {
    flex-wrap: nowrap;
    margin: 0 -20px;
	justify-content: center;
}

.services__item-wr {
    box-sizing: border-box;
    width: 33.3333%;
    padding: 0 20px;
}

.services__item-background {
    box-sizing: border-box;
    background: #ffbacd;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    padding: 0 10px;
}

.services__item {
    box-sizing: border-box;
    background: url(../images/combo-bg-1.jpg) no-repeat center;
    background-size: cover;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.3);
    height: 420px;
    padding: 55px;
    transition: all 0.3s linear;
    position: relative;
    top: -10px;
}

.services__item_2 {
    background: url(../images/combo-bg-2.jpg) no-repeat center; 
    background-size: cover;
}

.services__item_3 {
    background: url(../images/combo-bg-3.jpg) no-repeat center; 
    background-size: cover;
}

.services__item_active { 
}

.services__content-wr {
    overflow: hidden;
    height: 100%;
    padding-bottom: 15px;
}

.services__content{
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    height: 100%;
    position: relative;
    width: 200%; 
    transition: margin-left 0.2s linear 0s; 
}

.services__item_active .services__content  {
    margin-left: -100%;
}

.services__slide {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    float: left;
    padding: 45px 15px;
}

.services__service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__caption {
    font: 900 46px "Acrom";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.services__small-caption {
    display: inline-block;
    background-color: rgb(255, 186, 205);
    font: 700 20px "Acrom";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    padding: 0px 7px;
    letter-spacing: 2px;
    margin: 8px 0 13px;
}

.services__type {
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin: 3px 0;
}

.services__price {
    display: inline-block;
    background-color: rgb(255, 186, 205);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    font: 500 32px "Acrom";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    padding: 5px 45px 5px 20px;
    position: absolute;
    bottom: -10px;
    margin: 0 auto;
}

.services__price::before {
	content: "";
    background: url(../images/sprites.svg) no-repeat -8px -95px;
    width: 22px;
    height: 30px;
    position: absolute;
    bottom: 9px;
    right: 18px;
}

.services__button {
    margin: auto;
    padding: 20px 15px;
}
 
/**/

.slider {
    background: url(../images/black-leaves-bg.jpg) no-repeat center;
    background-size: cover;
    padding: 70px 0;
    position: relative;
    overflow: hidden;
}

.slider__wrapper {
    margin: 0 auto;
    max-width: 770px;
}

.pink-line {
    box-sizing: border-box;
    background-color: rgb(217, 158, 175);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 261px;
    height:100%;
}

.pink-line:before {
    content: "";
    background-color: rgb(255, 186, 205);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    height: 100%;
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
}

.contacts__address {
    font-size: 20px;
    font-family: "Acrom";
    text-align: center;
}

.contacts {
    padding: 55px 0 60px;
}

.contacts__phone {
    display: block;
    font: 700 30px "Acrom";
    color: rgb(0,0,0);
    text-decoration: none;
    text-align: center;
    margin: 15px 0 20px;
}

.icon-stripes__icon_insta {
    background-position: -90px -8px;
}

.contacts__button {
    margin: 25px auto 0;
	display: block;
}

.map {
    width: 100%;
    height: 300px;
    border: 0;
}

footer .navbar {
    margin: 0 auto;
}

footer .menu a {
    font-size: 12px;
    color: rgb(0, 0, 0);
} 

footer .menu>li:first-child a {
    padding: 25px 15px;
}

.footer2 {
    background: rgb(0,0,0);
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px 0;
}

.footer2 a {
    font-size: 13px;
    font-family: "Acrom";
    color: rgb(255, 255, 255);
}

/*media*/ 

@media screen and (max-width: 1279px) {
    .wrapper {
        padding: 0 15px;
    } 
	
	.main-screen{
		height: auto;
		padding: 30px 15px;
	}
	
	.main-screen__overflow{
		height: auto;
		position: static;
		padding:0;
	}
	
	.logo-small__home{
		display: block;
	}
	
    .logo {
		display: none;
    } 
    
	.info-block {
		padding: 50px 0 60px;
	}
	
	.services{
		padding: 70px 0 60px;
	}
	
    .services__item {
		height: 340px;
		padding: 20px;
    } 
	
    .services__caption {
        font-size: 42px;
    }
	
	.services__item-wr{
		max-width: 360px;
	}
	
	.services__slide{
		float:none;
	}
	
	.services__slide:last-child{
		display:none;
	}
    
	.slider{
		padding: 50px 0;
	}
	
}

@media screen and (max-width: 1023px) {
    
    
    .services__inner {
        flex-direction: column;
    }
    
    .services__item-wr {
        width: 100%; 
		max-width: 100%;
        margin: 0 auto 50px;
	}	
	
	.services__item-wr:last-child{
		margin-bottom:0;
	}
	
	.services__item,
	.services__item_2,
	.services__item_3{
		height: auto;    
		background: #ebebeb;
	}
	
	.services__service{
		flex-direction: row;
		flex-wrap: wrap;
	}
	
	.services__slide{
		padding: 20px 15px 50px;
	}
	
	.services__caption{
		font-size: 36px; 
		margin-bottom: 8px;
	}
	
	.services__small-caption{
		font-size: 14px;
		margin: 0 0 8px 6px; 
		padding: 0 4px;
	}
	
	.services__type { 
		width: 100%;
		font-size: 16px;
		margin: 2px 0;
	}
	
	.services__price{
		font-size: 26px;
		padding: 5px 35px 5px 10px;
	}
	
	.services__price::before{
		background-size: 800px 800px;
		background-position: -4px -74px;
		bottom: 5px;
		right: 11px;
	}
	 

}

@media screen and (max-width: 767px) {
    
	.footer1{
		padding: 20px 0;
	}
	
	footer .menu li {
        float: none;
        text-align: center;
    } 
	
	footer .navbar{
		width: 100%;
	}
	
	.menu a,
	footer .menu>li:first-child a{
		padding: 15px 0; 
	}
	
}

@media screen and (max-width: 639px) {
    
	body{
		font-size: 18px;
	}
	
	.caption{
		font-size: 30px;
	}
	
	.slider__wrapper { 
		zoom: 0.9;
	}
	
	
}