@import "parts/jquery.fancybox.min.css";
@import "parts/base-blocks.less";
@import "parts/header.less";
@import "parts/photo-info.less";
@import "parts/flipster.less";

.main-screen {
    background: url(../images/mainscreen-bg.jpg) repeat center;
    background-size: cover;
    position: relative;
    height: 620px;
}

.main-screen__overflow {
    overflow: hidden;
    width: 100%;
    height: 700px;
    padding-top: 170px;
    position: absolute;
    top: 0;
}

.logo {
    position: relative;
    box-sizing: border-box;
    padding-left: 350px;
    margin: 0 auto;
}

.logo__bordered {
    box-sizing: border-box;
    border: 10px solid rgb(0, 0, 0);
    padding: 50px 72px 60px 100px;
}

.logo__laser {
    font: 900 110px "Raleway";
    line-height: 1.1;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-align: right;
}

.logo__city {
    font: 500 32px "Raleway";
    text-transform: uppercase;
    letter-spacing: 12px;
    text-align: right;
}

.logo__girl {
    background: url(../images/girl-mainscreen.png) no-repeat center;
    width: 696px;
    height: 630px;
    position: absolute;
    left: -17px;
    top: -163px;
    padding: 110px 0 0 25px;
    box-sizing: border-box;
}

.logo__relax {
    font-size: 268px;
    font-family: "Julietta";
}

.logo__girl-top {
    background: url(../images/girl-mainscreen-top.png) no-repeat top;
    width: 292px;
    height: 507px;
    position: absolute;
    left: 127px;
    bottom: 216px;
    z-index: 1;
}

.leaf {
    background: url(../images/leaf-mainscreen.png) no-repeat center;
    width: 601px;
    height: 865px;
    position: absolute;    
}

.leaf_left {
    left: -733px;
    bottom: 15px;
    transform: rotate(116deg);
}

.leaf_right {
    right: -776px;
    bottom: 42px;
    transform: rotate(235deg);
}

.info-block {
    padding: 50px 0 60px;
}

.info-block__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption {
    font: 700 36px "Acrom";
    margin-bottom: 20px;
}

.underlined {
    text-transform: uppercase;
    position: relative;
    background-image: linear-gradient( 0deg, rgb(255, 186, 205) 0%, rgb(255, 186, 205) 35%, rgb(255, 255, 255) 35%, rgb(255, 255, 255) 100% );
}

.info-block__description {
    line-height: 1.35;
    text-align: center;
}

.icon-stripes_home {
    margin: 20px auto 25px;
}

.icon-stripes {
    position: relative;
    width: 235px;
}

.icon-stripes__icon {
    display: block;
    background: url(../images/sprites.svg) no-repeat 16px -8px #fff;
    width: 111px;
    height: 68px;
    margin: 0 auto;
    position: relative;
}

.icon-stripes__stripes {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 3px;
    position: absolute;
    top: 30px;
}

.services {
    background: url(../images/black-leaves-bg.jpg) no-repeat center;
    background-size: cover;
    padding: 70px 0 60px;
    overflow: hidden;
}

.services__inner {
    flex-wrap: nowrap;
    margin: 0 -20px;
}

.services__item-wr {
    box-sizing: border-box;
    width: 33.3333%;
    padding: 0 20px;
}

.services__item-background {
    box-sizing: border-box;
    background: #ffbacd;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    padding: 0 10px;
}

.services__item {
    box-sizing: border-box;
    background: url(../images/combo-bg-1.jpg) no-repeat center;
    background-size: 100% 100%;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    height: 420px;
    padding: 55px;
    transition: all 300ms ease-in;
    position: relative;
    top: -10px;
}

.services__item_2 {
    background: url(../images/combo-bg-2.jpg) no-repeat center;
    background-size: 100% 100%;
}

.services__item_3 {
    background: url(../images/combo-bg-3.jpg) no-repeat center;
    background-size: 100% 100%;
}

.services__item_active {
    background-size: 120% 120%;
}

.services__content-wr {
    overflow: hidden;
    height: 100%;
    padding-bottom: 15px;
}

.services__content{
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    height: 100%;
    position: relative;
    width: 200%; 
    transition: margin-left 0.5s linear 0s;
    -webkit-transition: margin-left 0.5s linear 0s;
    -o-transition: margin-left 0.5s linear 0s;
}

.services__item_active .services__content  {
    margin-left: -100%;
}

.services__slide {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    float: left;
    padding: 45px 15px;
}

.services__service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__caption {
    font: 900 46px "Acrom";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.services__small-caption {
    display: inline-block;
    background-color: rgb(255, 186, 205);
    font: 700 20px "Acrom";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    padding: 0px 7px;
    letter-spacing: 2px;
    margin: 8px 0 13px;
}

.services__type {
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin: 3px 0;
}

.services__price {
    display: inline-block;
    background-color: rgb(255, 186, 205);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    font: 500 32px "Acrom";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    padding: 5px 45px 5px 20px;
    position: absolute;
    bottom: -10px;
    margin: 0 auto;
}

.services__price::before {
    content: "";
    background: #000;
    width: 20px;
    height: 25px;
    position: absolute;
    bottom: 11px;
    right: 20px;
}

.services__button {
    margin: auto;
    padding: 20px 15px;
}

.slider {
    background: url(../images/black-leaves-bg.jpg) no-repeat center;
    background-size: cover;
    padding: 60px 0;
    position: relative;
    overflow: hidden;
}

.slider__wrapper {
    margin: 0 auto;
    max-width: 770px;
}

.pink-line {
    box-sizing: border-box;
    background-color: rgb(217, 158, 175);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 261px;
    height:100%;
}

.pink-line:before {
    content: "";
    background-color: rgb(255, 186, 205);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    height: 100%;
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
}

.contacts__address {
    font-size: 20px;
    font-family: "Acrom";
    text-align: center;
}

.contacts {
    padding: 35px 0 40px;
}

.contacts__phone {
    display: block;
    font: 700 30px "Acrom";
    color: rgb(0,0,0);
    text-decoration: none;
    text-align: center;
    margin: 15px 0 20px;
}

.icon-stripes__icon_insta {
    background-position: -90px -8px;
}

.contacts__button {
    margin: 25px auto 0;
}

.map {
    width: 100%;
    height: 300px;
    border: 0;
}

footer .navbar {
    margin: 0 auto;
}

footer .menu a {
    font-size: 12px;
    color: rgb(0, 0, 0);
} 

footer .menu>li:first-child a {
    padding: 25px 15px;
}

.footer2 {
    background: rgb(0,0,0);
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px 0;
}

.footer2 a {
    font-size: 13px;
    font-family: "Acrom";
    color: rgb(255, 255, 255);
}

/*media*/

@media screen and (max-width: 1500px) {
	
}

@media screen and (max-width: 1366px) {
    
}

@media screen and (max-width: 1279px) {
    .wrapper {
        padding: 0 15px;
    }
    
    .leaf {
        display: none;
    }
    
    .services__item {
        padding: 45px;
    }
    
    
    .services__caption {
        font-size: 42px;
    }
    
    .photo-info__background {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    
    .logo {
        padding-left: 210px;
    }
    
    .logo__bordered {
        padding: 50px 30px 50px 100px;
    }
    
    .logo__girl {
        transform: scale(0.7);
        left: -108px;
    }
    
    .logo__girl-top {
        left: 53px;
        bottom: 241px;
        transform: scale(.7);
    }
    
    .services__inner {
        flex-direction: column;
    }
    
    .services__item-wr {
        width: 100%;
        max-width: 400px;
        margin: 15px auto;
}
    
    .photo-info .wrapper {
        flex-direction: column-reverse;
    }
    
    .photo-info__information {
        max-width: none;
        padding: 50px 0;
    }
    
    .photo-info__photo {
        width: 100%;
        max-width: 500px;
        height: 500px;
        margin: 0 auto 20px;
    }

}

@media screen and (max-width: 767px) {
    footer .menu li {
        float: none;
        text-align: center;
    }
    
    .logo__girl {
        background: none;
    }
    
    .logo__girl-top {
        display: none;
    }
}

@media screen and (max-width: 639px) {
    
}